# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# IDE specific
.idea/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Other
/downloads/
/debug_logs/
